/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Kiona';
    src: local('Kiona'), local('Kiona Regular'), local('kiona'),
      local('kiona-regular'), url('/fonts/Kiona-Regular.ttf');
    font-weight: normal;
    font-display: swap;
  }
}
